:root {
    --color_white: white;
}

* {
    font-family:'Courier New', Courier, monospace
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(83, 83, 83);
}

/* .content_holder style will be used to remove redundant styling 
.content_holder {

} */

/* styles used for the header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

header #header_title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;

    color: var(--color_white);
}

header #header_synopsis {
    font-size: 24px;
    font-weight: 800;
    text-justify: inter-word;

    color: var(--color_white);
}

/* styles used for the main body of snippet boxes */
main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    height: 750px;
    width: 100%;

    border-style: dashed;
}

main .snippet_box {
    height: 200px;
    width: 500px;

    margin: 10px;

    border-style: dashed;
}

/* styles used for the footer  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer #footer_title {
    font-size: 24px;
    font-weight: 800;
    text-justify: inter-word;

    color: var(--color_white);
}